.pokemon-infos-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 600;
    color: #f4f5f6;
    width: 300px;
    height: 350px;
}

.pokemon-infos-content h2 {
    text-transform: capitalize;
    margin-top: 1rem;
}

.pokemon-infos-content .div-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.pokemon-infos-content .div-image img {
    width: 200px;
    height: 100px;
}

.pokemon-infos-content .p-types {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.div-envolvet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    text-transform: capitalize;
    margin-bottom: 1.3rem;
    border: 2px solid #333;
    padding: 1rem;
    border-radius: 6px;
}

.child-types-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100px;
    gap: 1rem;
    font-size: 1.2rem;
}

.status-div-el {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.3rem;
    padding-bottom: 1rem;
}

.status-div-el p {
    font-size: 13px;
    font-weight: bold;
}

.status {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 1.3rem;
}

.info-card {
    position: relative;
}

.back-div {
    position: absolute;
    top: 10px;
    left: 10px;
}

.back-div button {
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 50%;
    padding: 0.5rem;
    color: #f3f4f5;
    border: 2px solid #f3f4f5;
    background-color: transparent;
    width: 40px;
    height: 40px;
}